<ul class="assignments_list">
  <li class="tree-line"></li>
  {{#each shards}}
  <li class="datacenter parent {{change}}">
    <div class="datacenter-info parent-info">
      <p class="name">
        <span class="num-keys">
          <span class="highlight">~{{num_docs}}</span> {{pluralize_noun "document" num_docs}}
        </span>
        <span >Shard {{inc @index}}</span>
      </p>
    </div>
  </li>
  {{#each replicas}}
  <li class="server child {{change}}">
    <div class="tree-node"></div>
    <div class="server-info child-info">
      <p class="name"><a href="#/servers/{{id}}">{{name}}</a></p>
      {{#unless role_change}}
      {{#if role}}
      <p class="{{role}}"><span class="highlight">{{capitalize role}} replica</span></p>
      {{else}}
      <p class="{{old_role}}"><span class="highlight">{{capitalize old_role}} replica</span></p>
      {{/if}}
      {{else}}
      <p class="{{role}}">
        <span class="highlight">
          <span class="deleted">{{capitalize old_role}}</span> replica <b>&rarr;</b>
          <span class="added">{{capitalize role}}</span> replica
        </span>
      </p> 
      {{/unless}}
    </div>
  </li>
  {{/each}}
  {{/each}}
</ul>
