<ul class="assignments_list">
  <li class="tree-line"></li>
  {{#each shards}}
  <li class="datacenter parent {{change}}">
    <div class="datacenter-info parent-info">
      <p class="name">
        <span >Shard {{inc @index}}</span>
      </p>
    </div>
  </li>
  {{#each replicas}}
  <li class="server child {{change}}">
    <div class="tree-node"></div>
    <div class="server-info child-info {{change}}">
      <p class="name"><a href="#/servers/{{id}}">{{name}}</a></p>
      {{#unless role_change}}
      {{#if role}}
      <p class="role">
        <span class="role-{{role}}">{{capitalize role}} replica</span>
      </p>
      {{else}}
      <p class="role">
        <span class="role-{{old_role}}">{{capitalize old_role}} replica</span>
      </p>
      {{/if}}
      {{else}}
      <p class="role">
        <span class="change">
          <span class="deleted role-{{old_role}}">
            {{capitalize old_role}}</span>
          <b>&rarr;</b>
          <span class="added role-{{role}}">{{capitalize role}} replica</span>
        </span>
      </p> 
      {{/unless}}
    </div>
  </li>
  {{/each}}
  {{/each}}
</ul>
